<%= form_with(url: search_recruits_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<ul class="recruits">
  <li class="recruit">
    <div class="upper-rec">
      <%= link_to "name", "#", class:"rec-user" %>
      <div class="rec-style">
        カジュアル
      </div>
    </div>
    <div class="mid-rec">
      <div class="rec-plat">skype: </div>
      <div class="rec-userid">hihihdoiehdiohdih</div>
    </div>
    <div class="lower-rec">
      <div class="rec-tags">
        <div class="rec-tag">
          valorant
        </div>
        <div class="rec-tag">
          apex
        </div>
      </div>
      <div class="rec-text">
        カジュアル募集aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="rec-time">
        2020/09/14 12:40
      </div>
    </div>
  </li>

  <li class="recruit">
    <div class="upper-rec">
      <%= link_to "name", "#", class:"rec-user" %>
      <div class="rec-style">
        カジュアル
      </div>
    </div>
    <div class="mid-rec">
      <div class="rec-plat">skype: </div>
      <div class="rec-userid">hihihdoiehdiohdih</div>
    </div>
    <div class="lower-rec">
      <div class="rec-tags">
        <div class="rec-tag">
          valorant
        </div>
        <div class="rec-tag">
          apex
        </div>
      </div>
      <div class="rec-text">
        カジュアル募集aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="rec-time">
        2020/09/14 12:40
      </div>
    </div>
  </li>

   <li class="recruit">
    <div class="upper-rec">
      <%= link_to "name", "#", class:"rec-user" %>
      <div class="rec-style">
        カジュアル
      </div>
    </div>
    <div class="mid-rec">
      <div class="rec-plat">skype: </div>
      <div class="rec-userid">hihihdoiehdiohdih</div>
    </div>
    <div class="lower-rec">
      <div class="rec-tags">
        <div class="rec-tag">
          valorant
        </div>
        <div class="rec-tag">
          apex
        </div>
      </div>
      <div class="rec-text">
        カジュアル募集aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="rec-time">
        2020/09/14 12:40
      </div>
    </div>
  </li>

   <li class="recruit">
    <div class="upper-rec">
      <%= link_to "name", "#", class:"rec-user" %>
      <div class="rec-style">
        カジュアル
      </div>
    </div>
    <div class="mid-rec">
      <div class="rec-plat">skype: </div>
      <div class="rec-userid">hihihdoiehdiohdih</div>
    </div>
    <div class="lower-rec">
      <div class="rec-tags">
        <div class="rec-tag">
          valorant
        </div>
        <div class="rec-tag">
          apex
        </div>
      </div>
      <div class="rec-text">
        カジュアル募集aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="rec-time">
        2020/09/14 12:40
      </div>
    </div>
  </li>

   <li class="recruit">
    <div class="upper-rec">
      <%= link_to "name", "#", class:"rec-user" %>
      <div class="rec-style">
        カジュアル
      </div>
    </div>
    <div class="mid-rec">
      <div class="rec-plat">skype: </div>
      <div class="rec-userid">hihihdoiehdiohdih</div>
    </div>
    <div class="lower-rec">
      <div class="rec-tags">
        <div class="rec-tag">
          valorant
        </div>
        <div class="rec-tag">
          apex
        </div>
      </div>
      <div class="rec-text">
        カジュアル募集aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="rec-time">
        2020/09/14 12:40
      </div>
    </div>
  </li>

   <li class="recruit">
    <div class="upper-rec">
      <%= link_to "name", "#", class:"rec-user" %>
      <div class="rec-style">
        カジュアル
      </div>
    </div>
    <div class="mid-rec">
      <div class="rec-plat">skype: </div>
      <div class="rec-userid">hihihdoiehdiohdih</div>
    </div>
    <div class="lower-rec">
      <div class="rec-tags">
        <div class="rec-tag">
          valorant
        </div>
        <div class="rec-tag">
          apex
        </div>
      </div>
      <div class="rec-text">
        カジュアル募集aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="rec-time">
        2020/09/14 12:40
      </div>
    </div>
  </li>

   <li class="recruit">
    <div class="upper-rec">
      <%= link_to "name", "#", class:"rec-user" %>
      <div class="rec-style">
        カジュアル
      </div>
    </div>
    <div class="mid-rec">
      <div class="rec-plat">skype: </div>
      <div class="rec-userid">hihihdoiehdiohdih</div>
    </div>
    <div class="lower-rec">
      <div class="rec-tags">
        <div class="rec-tag">
          valorant
        </div>
        <div class="rec-tag">
          apex
        </div>
      </div>
      <div class="rec-text">
        カジュアル募集aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="rec-time">
        2020/09/14 12:40
      </div>
    </div>
  </li>