<%# <%= render "shared/header" %>
  <%# Play-With帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      PCゲームのフレンドを募集する掲示板
    </h2>
    <p class='service-explain'>
      ゲームがもっと楽しくなるように
    </p>
  </div>
  <%# /Play-with帯部分  %>
  <%# 募集一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップ</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @recruits.each do |recruit| %>
        <li class='list'>
          <%= link_to recruit, method: :get do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" if item.image.attached? %>

            <% if item.order != nil %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /募集一覧 %>